<a href="#" class="list-group-item row" style="margin-top:5px;">
  <div class="col-md-3 col-xs-4 match">
    <div class="profile-image">
      <img class="fingerprint" src="<%= fingerprint %>" alt="fingerprint">
      <img class="profile" src="<%= profile %>" alt="profile" width="100%", height="auto">
    </div>
  </div>
  <div class="col-md-9 col-xs-8">
    <h5 class="list-group-item-heading">
      <%= candidate.name %>
      <span class="pull-right"> <%= candidate.gender %>
      <% var today = new Date();
      var age = today.getFullYear() - candidate.birthday.getFullYear();
      var m = today.getMonth() - candidate.birthday.getMonth();
      if (m < 0 || (m === 0 && today.getDate() < candidate.birthday.getDate())) {
          age--;
      } %>
          <%= age %> </span>
    </h5>
    <p><%= candidate.bio %></p>
  </div>
</a>
